<div
  class="auth-container d-flex align-items-center justify-content-center py-4"
>
  <div class="container">
    <div
      class="bg-white rounded-4 shadow overflow-hidden mx-auto my-4"
      style="max-width: 1200px"
    >
      <div class="row g-0">
        <div
          class="col-md-6 d-flex align-items-center justify-content-center bg-white h-100"
        >
          <div
            class="d-flex align-items-center justify-content-center h-100 w-100"
          >
            <img
              src="assets/images/base-auth.png"
              alt="Médicos"
              class="img-fluid"
            />
          </div>
        </div>

        <div
          class="col-md-6 d-flex align-items-center justify-content-center bg-white"
        >
          <div class="w-100 position-relative content-auth h-100">
            <div class="d-flex justify-content-end align-items-center position-absolute top-0 end-0 w-100" style="margin-top: 20px; z-index: 1;">
              <img
                src="assets/images/logo-aleevia.png"
                alt="aleevia"
                class="logo-aleevia"
              />
              <button
                class="btn btn-link p-0 position-absolute start-0"
                (click)="goBack()"
                aria-label="Voltar"
                style="margin-top: 20px;"
              >
                <i class="bi bi-arrow-left" style="font-size: 1.5rem"></i>
              </button>
            </div>
            <div class="content-wrapper" style="margin-top: 80px;">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
