@use '../../shared/styles/variables' as vars;

.login-container {
  background-image: url('/assets/images/login-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.text-secondary-60 {
  color: vars.$text-muted-60 !important;
}

a.text-secondary-60:hover {
  color: vars.$text-muted-80 !important;
  text-decoration: underline !important;
}