<div class="mb-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Endereço de atendimento</h5>
    <span class="text-secondary">1/2</span>
  </div>
  <form [formGroup]="form" class="row g-3">
    <div class="col-12">
      <app-input
        name="name"
        label="Nome do consultório"
        bgColor="white"
        formControlName="name"
        variant="outline"
        [required]="true"
      ></app-input>
    </div>

    <div class="col-12 col-md-6">
      <app-input
        name="zip_code"
        label="CEP"
        bgColor="white"
        formControlName="zip_code"
        mask="00000-000"
        variant="outline"
        [required]="true"
      ></app-input>
    </div>
    
    <div class="col-12 col-md-6">
      <app-input
        name="address"
        label="Logradouro"
        bgColor="white"
        formControlName="address"
        variant="outline"
        [required]="true"
      ></app-input>
    </div>
    
    <div class="col-12 col-md-6">
      <app-input
        name="number"
        label="Número"
        bgColor="white"
        formControlName="number"
        variant="outline"
        [required]="true"
      ></app-input>
    </div>
    
    <div class="col-12 col-md-6">
      <app-input
        name="complement"
        label="Complemento"
        bgColor="white"
        formControlName="complement"
        variant="outline"
      ></app-input>
    </div>

    <div class="col-12 col-md-6">
      <app-input
        name="neighborhood"
        label="Bairro"
        bgColor="white"
        formControlName="neighborhood"
        variant="outline"
        [required]="true"
      ></app-input>
    </div>
    
    <div class="col-12 col-md-6">
      <app-input
        name="state"
        label="Estado"
        bgColor="white"
        formControlName="state"
        variant="outline"
        [required]="true"
      ></app-input>
    </div>
    
    <div class="col-12 col-md-6">
      <app-input
        name="city"
        label="Cidade"
        bgColor="white"
        formControlName="city"
        variant="outline"
        [required]="true"
      ></app-input>
    </div>
  </form>
</div>
