<div class="messages d-flex flex-column gap-3 overflow-auto h-100">
    <div 
      *ngFor="let message of messages" 
      class="message d-flex"
      [ngClass]="{'justify-content-end': message.role === 'user'}"
    >
      <div 
        class="message-content p-3"
        [ngClass]="{
          'user-message': message.role === 'user',
          'assistant-message': message.role === 'assistant'
        }"
      >
        <ng-container *ngIf="!message.isPlaceholder; else typingIndicator">
          {{ message.content }}
        </ng-container>
        <ng-template #typingIndicator>
          <div class="typing-indicator">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </ng-template>
      </div>
    </div>
  </div>