<app-form
  [formGroup]="form"
  [submitButtonText]="submitButtonText"
  [isNextButton]="true"
  [showPreviousButton]="false"
  (formSubmit)="onSubmit()"
>
  <div>
    <div class="row mb-3">
      <div class="col-md-12 mb-3 mb-md-0">
        <app-input
          formControlName="name"
          label="Nomear endereço"
          placeholder="Digite o nome do espaço"
          inputType="text"
        ></app-input>
      </div>

      <div class="col-md-12 mt-3">
        <app-input
          formControlName="zipCode"
          label="CEP"
          placeholder="_____-__"
          inputType="text"
          mask="00000-000"
        ></app-input>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6 mb-3 mb-md-0">
        <app-input
          formControlName="street"
          label="Logradouro"
          placeholder="Rua, avenida, praça..."
          inputType="text"
        ></app-input>
      </div>
      <div class="col-md-6">
        <app-input
          formControlName="neighborhood"
          label="Bairro"
          placeholder="Digite o seu bairro"
          inputType="text"
        ></app-input>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6 mb-3 mb-md-0">
        <app-input
          formControlName="number"
          label="Número"
          placeholder="Número do local"
          inputType="text"
        ></app-input>
      </div>
      <div class="col-md-6">
        <app-input
          formControlName="complement"
          label="Complemento"
          placeholder="Apto, bloco..."
          inputType="text"
        ></app-input>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-6 mb-3 mb-md-0">
        <app-input
          formControlName="state"
          label="Estado"
          placeholder="Estado"
          inputType="text"
        ></app-input>
      </div>
      <div class="col-md-6">
        <app-input
          formControlName="city"
          label="Cidade"
          placeholder="Cidade"
          inputType="text"
        ></app-input>
      </div>
    </div>
  </div>
</app-form>
