<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0" *ngIf="showHeader">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" (click)="onClose()"></button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer border-top-0" *ngIf="showFooter">
        <ng-content select="[footer]"></ng-content>
      </div>
    </div>
  </div>
</div>
