<div class="dashboard-container">
  <div class="row">
    <div class="column d-flex flex-column justify-content-between">
      <app-clinic-card [clinicData]="clinicCardData"></app-clinic-card>
      <app-access-profiles [profilesData]="accessProfilesData"></app-access-profiles>
    </div>

    <div class="column d-flex flex-column justify-content-between">
      <app-referral-gauge [gaugeData]="referralGaugeData"></app-referral-gauge>
      <app-satisfaction-rating [ratingData]="satisfactionRatingData"></app-satisfaction-rating>
      <app-categories-chart [chartData]="categoriesChartData"></app-categories-chart>
    </div>

    <div class="column d-flex flex-column justify-content-between">
      <app-statistics-card [statsData]="statisticsCardData"></app-statistics-card>
      <app-interactions-chart [chartData]="interactionsChartData"></app-interactions-chart>
      <app-ai-assistant></app-ai-assistant>
    </div>
  </div>
</div>
