<div class="chat-main d-flex flex-column h-100 overflow-hidden">
  <div class="chat-header">
    <ng-container *ngIf="currentUser$ | async as currentUser">
      <app-chat-header [currentUser]="currentUser"></app-chat-header>
    </ng-container>
  </div>

  <div class="d-flex flex-column flex-grow-1 position-relative overflow-hidden">
    <div class="welcome-section" *ngIf="showWelcomeSection">
      <h3 class="text-center mt-4">Como posso te ajudar?</h3>
      <div class="col-12">
        <app-faq
          [faqs]="(faqs$ | async)!"
          (questionClick)="sendMessage($event)"
        ></app-faq>
      </div>
    </div>

    <div class="messages-area">
      <app-messages [messages]="messages"></app-messages>
    </div>
  </div>

  <div class="chat-footer">
    <app-chat-input
      [message]="message"
      (sendMessage)="sendMessage($event)"
    ></app-chat-input>
  </div>
</div>
