<div class="container">
  <h2 class="fw-bold mb-3 fs-3">Parabéns</h2>
  <p class="mb-4 text-secondary">
    Nos conte um pouco sobre sua rotina profissional. Assim, conseguimos ajustar
    a plataforma para que funcione do jeito certo pra você:
  </p>

  <div class="d-flex flex-column gap-3 mb-4">
    <div
      *ngFor="let card of optionCards"
      class="option-card border rounded-3 p-3 d-flex gap-3 bg-white shadow-sm align-items-center"
    >
      <div
        class="option-icon flex-shrink-0 d-flex align-items-center justify-content-center"
      >
        <span
          class="icon-circle d-flex align-items-center justify-content-center"
        >
          <i class="bi {{ card.icon }}"></i>
        </span>
      </div>
      <div class="flex-grow-1">
        <div class="fw-semibold fs-5 mb-1">{{ card.title }}</div>
        <div class="text-secondary small">{{ card.description }}</div>
      </div>
      <i class="bi bi-arrow-right fs-4 text-primary ms-2 align-self-center"></i>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn btn-outline-primary px-4">Pular</button>
  </div>
</div>
