@use '../../styles/variables' as vars;

.form-control,
.form-select {
  background-color: vars.$gray-100;
  border: vars.$border-width solid vars.$gray-400;
  border-radius: vars.$border-radius;
  padding: 0.75rem 1rem;
  font-size: vars.$font-size-base;
  color: #94A3B8;
  transition: vars.$transition-base;
  
  &:focus {
    border-color: vars.$input-focus-border;
    box-shadow: 0 0 0 vars.$focus-ring-width vars.$input-focus-shadow;
    outline: 0;
  }
  
  &:disabled, &[readonly] {
    background-color: vars.$gray-200;
    opacity: 1;
  }
  
  &::placeholder {
    opacity: 1;
  }
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 16px 12px;
  appearance: none;

  &.form-select-outline {
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid var(--slate-200, #E2E8F0);
    background-color: var(--base-white, #FFF);
    padding: 8px 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #94A3B8;
    background-position: right 0 center;

    &:focus {
      box-shadow: none;
      border-color: #E2E8F0;
    }

    &:disabled {
      background-color: #f8f9fa;
      cursor: not-allowed;
    }

    &::placeholder {
      color: #94A3B8;
      opacity: 1;
    }

    option {
      color: #94A3B8;
    }

    option:first-child {
      color: #94A3B8;
    }
  }
}

.form-label {
  margin-bottom: 0.5rem;
  font-weight: vars.$font-weight-medium;
  color: vars.$gray-900;
}
