<div
  class="d-flex flex-column align-items-center gap-4"
>
  <h2 class="fw-bold text-center mb-3 mt-2 fs-2">
    Parabéns! Você tem um<br />espaço de saúde
  </h2>
  <img src="assets/images/high-five-success.png" alt="High Five" class="my-4" />
  <div class="d-flex flex-column align-items-center">
    <p class="text-secondary text-center">
      Agora é só começar a organizar sua rotina do seu jeito.
    </p>
    <p class="text-secondary text-center mb-3">Escolha como quer começar:</p>
  </div>
  <div
    class="d-flex flex-column gap-2 align-items-center w-100"
  >
    <app-button
      type="primary"
      [routerLink]="['/auth/register/individual/congratulations/2']"
    >
      Configurar meu espaço
    </app-button>
    <a href="dashboard" class="text-primary fw-semibold mt-1 text-center"
      >Ir para a Dashboard</a
    >
  </div>
</div>
