<app-form
  [formGroup]="formGroup"
  [errorMessages]="errorMessages"
  submitButtonText="Finalizar"
  (formSubmit)="formSubmit.emit()"
  [isNextButton]="true"
  [showPreviousButton]="true"
  [showSubmitButton]="true"
  (previous)="previous.emit()"
  #securityFormComponent>

  <h4 class="fw-bold">Crie sua senha</h4>
  <p class="text-muted mb-4">Qual senha você vai utilizar para entrar na Aleevia?</p>

  <div class="mb-4">
    <div class="mb-3">
      <app-input
        label="Digite sua senha"
        type="password"
        formControlName="password"

        [errorMessage]="securityFormComponent.getErrorMessage('password')">
      </app-input>
    </div>

    <div class="mb-3">
      <app-input
        label="Confirme a senha"
        type="password"
        formControlName="confirmPassword"

        [errorMessage]="securityFormComponent.getErrorMessage('confirmPassword')">
      </app-input>
    </div>
  </div>
</app-form>
