<form
  [formGroup]="form"
  (ngSubmit)="onAction()"
  class="mx-auto h-100 d-flex flex-column"
>
  <div>
    <div class="row mb-3">
      <div class="col-md-6 mb-3 mb-md-0">
        <app-input
          formControlName="name"
          label="Nome do endereço"
          placeholder="Digite o nome do espaço"
          bgColor="white"
          inputType="text"
        ></app-input>
      </div>
      <div class="col-md-6">
        <app-input
          formControlName="zipCode"
          label="CEP"
          placeholder="_____-__"
          bgColor="white"
          inputType="text"
          mask="00000-000"
        ></app-input>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6 mb-3 mb-md-0">
        <app-input
          formControlName="street"
          label="Logradouro"
          placeholder="Rua, avenida, praça..."
          bgColor="white"
          inputType="text"
        ></app-input>
      </div>
      <div class="col-md-6">
        <app-input
          formControlName="neighborhood"
          label="Bairro"
          placeholder="Digite o seu bairro"
          bgColor="white"
          inputType="text"
        ></app-input>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6 mb-3 mb-md-0">
        <app-input
          formControlName="number"
          label="Número"
          placeholder="Número do local"
          bgColor="white"
          inputType="text"
        ></app-input>
      </div>
      <div class="col-md-6">
        <app-input
          formControlName="complement"
          label="Complemento"
          placeholder="Apto, bloco..."
          bgColor="white"
          inputType="text"
        ></app-input>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-6 mb-3 mb-md-0">
        <app-input
          formControlName="state"
          label="Estado"
          placeholder="Estado"
          bgColor="white"
          inputType="text"
        ></app-input>
      </div>
      <div class="col-md-6">
        <app-input
          formControlName="city"
          label="Cidade"
          placeholder="Cidade"
          bgColor="white"
          inputType="text"
        ></app-input>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end mt-3">
    <app-button
      type="primary"
      [fullWidth]="false"
      [disabled]="form.invalid"
      [isNext]="true"
      (click)="onAction()"
    >
      Adicionar endereço
    </app-button>
  </div>
</form>
