<div class="doctor-info bg-white p-3 rounded-top border-bottom">
  <div class="d-flex align-items-center">
    <img
      *ngIf="currentUser.picture_url"
      [src]="currentUser.picture_url || 'assets/images/default-avatar.png'"
      alt="Doctor photo"
      class="rounded-circle me-3"
      width="48"
      height="48"
    />
    <i *ngIf="!currentUser.picture_url"
      class="bi bi-building-fill fs-1 me-3"
    ></i>
    <div>
      <h2 class="h5 mb-0">
        {{ currentUser.name || "Dr. Nome do Médico" }}
      </h2>
      <!-- <p class="text-muted small mb-0">
        {{ currentUser.specialty || "Especialidade" }} - CRM:
        {{ currentUser.crm_number }}
      </p> -->
    </div>
    <div class="ms-auto">
      <div class="social-icons d-flex gap-2 w-25">
        <a
          *ngIf="currentUser.website"
          [href]="currentUser.website"
          target="_blank"
          class="text-muted"
        >
          <i class="bi bi-globe2"></i>
        </a>
        <a
          *ngIf="currentUser.instagram"
          [href]="currentUser.instagram"
          target="_blank"
          class="text-muted"
        >
          <i class="bi bi-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</div>
