<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
  <app-input
    label="CPF/CNPJ"
    placeholder="12.345.678/0001-97"
    formControlName="document"
    mask="00.000.000/0000-00 || 000.000.000-000"
    [required]="true"
    [errorMessage]="document?.touched && document?.invalid ? 'Informe um CNPJ válido' : null"
  ></app-input>

  <div class="d-flex justify-content-end mt-4">
    <app-button
      type="primary"
      size="lg"
      [loading]="loading"
      [disabled]="form.invalid || loading"
      [isNext]="true"
    >
      Continuar
    </app-button>
  </div>
</form>
