<div class="d-flex flex-wrap gap-3 mb-4">
  <div
    *ngFor="let attendance of attendances"
    class="bg-white rounded-3 shadow-sm p-3 border d-flex justify-content-between align-items-center flex-grow-1"
    style="max-width: 260px; min-width: 200px"
  >
    <div class="flex-grow-1">
      <p class="fw-bold mb-1">{{ attendance.title }}</p>
      <p class="text-secondary small">
        Valor: R$ {{ attendance.price | number : "1.2-2" }}
      </p>
      <p class="text-secondary small">
        {{ attendance.description }}
      </p>
    </div>
    <div class="d-flex flex-column align-items-end ms-2 gap-2">
      <button
        class="btn btn-link p-0 text-primary"
        title="Editar"
        (click)="onEdit(attendance)"
      >
        <i class="bi bi-pencil"></i>
      </button>
      <button
        class="btn btn-link p-0 text-danger"
        title="Remover"
        (click)="onDelete(attendance)"
      >
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>
</div>

<div
  *ngIf="enableAddNew || addNewPath"
  class="border rounded-3 p-3 d-flex align-items-center gap-2 mb-3"
  style="cursor: pointer"
  (click)="onAddNew()"
>
  <i class="bi bi-plus-lg text-primary fs-5"></i>
  <span class="fw-medium text-secondary">{{ actionText }} Serviço</span>
</div>
