<aside class="sidebar bg-white d-flex flex-column align-items-center py-4">
  <nav class="nav flex-column gap-4">
    <!-- Dashboard -->
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-link d-flex justify-content-center">
      <img src="assets/images/sidebar/dashboard.svg" alt="Dashboard">
    </a>

    <!-- Agenda -->
    <a routerLink="/agenda" routerLinkActive="active" class="nav-link d-flex justify-content-center">
      <img src="assets/images/sidebar/schedule.svg" alt="Agenda">
    </a>

    <!-- Prontuário -->
    <a routerLink="/faq" routerLinkActive="active" class="nav-link d-flex justify-content-center">
      <img src="assets/images/sidebar/edit.svg" alt="Prontuário">
    </a>

    <!-- Pacientes -->
    <a routerLink="/pacientes" routerLinkActive="active" class="nav-link d-flex justify-content-center">
      <img src="assets/images/sidebar/patients.svg" alt="Pacientes">
    </a>

    <!-- Configurações -->
    <a routerLink="/configuracoes" routerLinkActive="active" class="nav-link d-flex justify-content-center mt-auto">
      <img src="assets/images/sidebar/settings.svg" alt="Configurações">
    </a>

    <!-- Logout -->
    <a routerLink="/logout" class="nav-link d-flex justify-content-center mt-3">
      <img src="assets/images/sidebar/logout.svg" alt="Sair">
    </a>
  </nav>
</aside>
