<aside class="sidebar bg-white d-flex flex-column align-items-center py-4">
  <nav class="nav flex-column gap-4">
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-link d-flex justify-content-center">
      <i class="bi bi-grid"></i>
    </a>

    <a routerLink="/schedule" routerLinkActive="active" class="nav-link d-flex justify-content-center">
      <i class="bi bi-calendar-week"></i>
    </a>

    <a routerLink="/prontuario" routerLinkActive="active" class="nav-link d-flex justify-content-center">
      <i class="bi bi-file-text"></i>
    </a>

    <a routerLink="/pacientes" routerLinkActive="active" class="nav-link d-flex justify-content-center">
      <i class="bi bi-people"></i>
    </a>

    <a routerLink="/configuracoes" routerLinkActive="active" class="nav-link d-flex justify-content-center mt-auto">
      <i class="bi bi-gear"></i>
    </a>

    <a routerLink="/logout" class="nav-link d-flex justify-content-center">
      <i class="bi bi-box-arrow-right"></i>
    </a>
  </nav>
</aside>
