.sidebar {
  width: 80px;
  height: 100vh;
  border-right: 1px solid #EBEBEB;
  position: fixed;
  left: 0;
  top: 76px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.05);
}

.nav {
  height: calc(100vh - 76px - 32px);
  display: flex;
  flex-direction: column;
}

.nav-items {
  flex: 1;
}

.nav-bottom {
  margin-top: auto;
}

.nav-link {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  transition: all 0.2s ease;
  color: #A9A9A9;

  i {
    font-size: 20px;
  }

  &:hover {
    background-color: #F8F9FA;
    color: #454950;
  }

  &.active {
    background-color: #0056CC;
    color: #FFFFFF;
  }
}
