/* You can add global styles to this file, and also import other style files */

/* Import Angular Material */
@use '@angular/material' as mat;
@use 'sass:map';

/* Import Bootstrap */
@use 'bootstrap/dist/css/bootstrap.min.css' as *;
@use 'bootstrap-icons/font/bootstrap-icons.css' as *;

/* Import custom variables */
@use './app/shared/styles/variables.scss' as *;

/* Importing Google Fonts - Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

/* Global styles */
body {
  font-family: 'Nunito', sans-serif;
}

.max-w-600 {
  max-width: 600px;
}

.min-h-80vh {
  min-height: 80vh;
}

:root {
  --mdc-outlined-text-field-outline-color: transparent;
  --mdc-outlined-text-field-hover-outline-color: transparent;
  --mdc-outlined-text-field-focus-outline-color: transparent;
  --mdc-outlined-text-field-container-shape: 8px;
  --mdc-outlined-text-field-container-color: var(--input-background);
}

/* Custom Material Theme */
@include mat.core();

// Define the palettes
$custom-primary: mat.m2-define-palette(mat.$m2-blue-palette, 500);
$custom-primary: map.set($custom-primary, 500, #4880FF);
$custom-accent: mat.m2-define-palette(mat.$m2-grey-palette, 50, 100, 200);
$custom-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme
$custom-theme: mat.m2-define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  ),
  density: 0,
));

// Apply the theme only once
@include mat.all-component-themes($custom-theme);

// Apply typography to Angular Material components
@include mat.core-theme($custom-theme);

// Fix for Material dropdown appearing behind modal
.cdk-overlay-container {
  z-index: 1100 !important;
}

.mat-select-panel {
  z-index: 1100 !important;
}

.mat-mdc-select-panel {
  z-index: 1100 !important;
}

.cdk-overlay-pane {
  z-index: 1100 !important;
}

.modal-content {
  border: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #0d6efd;
  border-radius: 4px;

  &:hover {
    background: #0d6efd;
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: #0d6efd #fff;
}
