<ng-container *ngIf="context === REGISTRATION_TYPES.CLINIC; else individualMode">
  <app-form-cnpj [form]="form"></app-form-cnpj>
  <div class="mt-2">
    <div class="form-check mb-4">
      <input
        class="form-check-input"
        type="checkbox"
        id="acceptTerms"
        [(ngModel)]="acceptTerms"
      />
      <label class="form-check-label" for="acceptTerms">
        Li e aceito os <a href="#" target="_blank">Termos de Uso</a> e
        <a href="#" target="_blank">Política de Privacidade</a>
      </label>
    </div>

    <div class="d-flex justify-content-end">
      <app-button
        type="primary"
        [fullWidth]="true"
        [disabled]="form.invalid || !acceptTerms"
        [isNext]="true"
        (click)="onSubmit()"
        class="btn-custom-next"
      >
        Continuar
      </app-button>
    </div>

    <p class="text-center text-secondary mt-2 small">
      Usamos seus dados para autenticação e melhorar sua experiência.
      <i class="bi bi-lock ms-1"></i>
    </p>
  </div>
</ng-container>
<ng-template #individualMode>
  <app-form-cpf [form]="form"></app-form-cpf>
  <div class="mt-2">
    <div class="form-check mb-4">
      <input
        class="form-check-input"
        type="checkbox"
        id="acceptTerms"
        [(ngModel)]="acceptTerms"
      />
      <label class="form-check-label" for="acceptTerms">
        Li e aceito os <a href="#" target="_blank">Termos de Uso</a> e
        <a href="#" target="_blank">Política de Privacidade</a>
      </label>
    </div>

    <div class="d-flex justify-content-end">
      <app-button
        type="primary"
        [fullWidth]="true"
        [disabled]="form.invalid || !acceptTerms"
        [isNext]="true"
        (click)="onSubmit()"
        class="btn-custom-next"
      >
        Continuar
      </app-button>
    </div>

    <p class="text-center text-secondary mt-2 small">
      Usamos seus dados para autenticação e melhorar sua experiência.
      <i class="bi bi-lock ms-1"></i>
    </p>
  </div>
</ng-template>
